---
interface Props {
	title: string;

}

const { title } = Astro.props;
---


<p class="px-11 py-3 bg-gradient-to-r from-cyan-500 to-blue-500 text-white font-bold rounded-md text-center text-lg xl:text-4xl xl:w-[48%] " >{title}</p>



<style>
    p{
        box-shadow: 0px 0px 10px rgba(0, 207, 222, 0.28)
    }
</style>