---
import FooterFormas from "../components/FooterFormas.astro"
---



<footer class="footer bg-white p-3 text-white pt-6 ">




<div class="grupo2 xl:flex xl:gap-96">
    
    <div class="formas mb-6 flex gap-4 flex-col xl:flex-1 order-1 xl:text-2xl xl:gap-8">
        <h2 class="mb-4  text-gray-900 text-[1.2rem] font-bold xl:text-3xl">CONTÁCTENOS</h2>
        <div class="formas1 flex gap-3">
        
        <FooterFormas title="Dirección" descripcion="Av JAVIER Prado este 560,int 2001,sanisidrp,loma." imagen="/public/mail.svg"></FooterFormas>
                  
        <FooterFormas title="Horario de atención" descripcion="Lunesa a sabado: 8:00 a.m - 5:00 p.m." imagen="/public/mail.svg"></FooterFormas>
   
        </div>
        
        
        
        <div class="formas2 flex gap-3">
            <FooterFormas title="Celular" descripcion="987654321" imagen="/public/mail.svg"></FooterFormas>
            <FooterFormas title="Correo" descripcion="ejemplo@gmail.com" imagen="/public/mail.svg"></FooterFormas>
           
        
        </div>
        
        
        
        
        
        
        </div>
        
        
        <figure class="border-t-2 border-gray-300 xl:border-none xl:"><img src="/public/img/logo.png"  class="w-[130px] xl:w-[289px]" alt=""></figure>

</div>









</footer>

